{% extends 'main.html' %} {% load static %} {% block content %}

<div
  class="px-8 max-w-[1350px] h-full mx-auto flex flex-col md:flex-row items-center justify-evenly"
>
  <img
    class="w-full max-w-[400px]"
    src="{% static 'imgs/pana-teacher.png' %}"
    alt="welcome image"
  />
  <div class="flex flex-col w-full max-w-[460px]">
    <h1 class="text-bluebg-blue-950 text-3xl font-bold">Login here</h1>
    <form method="POST" action="">
      {% csrf_token %}
      <div class="flex flex-col mb-2">
        <label for="username">Email</label>
        <input
          type="email"
          name="username"
          class="mt-2 px-4 py-2 rounded-full w-full bg-gray-100"
          placeholder="Email"
          required
        />
      </div>
      <div class="flex flex-col mb-4">
        <label for="password">Password</label>
        <input
          type="password"
          name="password"
          class="mt-2 px-4 py-2 rounded-full w-full bg-gray-100"
          placeholder="Password"
          required
        />
      </div>
      {% if request.GET.next %}
      <input type="hidden" name="next" value="{{request.GET.next}}" />
      {% endif %}
      <input
        type="submit"
        value="Login"
        class="px-4 py-2 bg-blue-950 hover:bg-red-400 text-white rounded-full cursor-pointer"
      />
    </form>

    <!-- <a href="#!" class="forgot-password-link mt-4">Password forgotten?</a> -->

    <!-- <p class="login-wrapper-footer-text mt-4">
      J'ai oublie mon Password
      <a href="{% url 'home' %}" class="text-red-400">Click here</a>
    </p> -->
  </div>
</div>
{% endblock %}
