{% extends 'main.html' %} {% load static %} {% block content %}
<div class="px-8 max-w-[1350px] w-full mx-auto">
  <!--------------------------------------- mini navbar --------------------------------------->

  <nav
    class="mx-auto py-2 flex gap-2 items-center text-xs w-full lg:max-w-[1350px]"
  >
    <a
      class="p-2 hover:bg-gray-100 hover:text-blue-950 rounded-full transition ease-in duration-200"
      href="{% url 'home' %}"
      ><i class="fa-solid fa-house"></i>
    </a>
    /
    <a
      class="hover:text-blue-950 hover:underline transition ease-in duration-200"
      href="{% url 'users' %}"
      >Users</a
    >
    /
    <span>{{profile.first_name}}</span>
  </nav>
  <!--------------------------------------- hero section --------------------------------------->

  <div class="mb-4 flex border border-4 border-blue-950 p-4 rounded-xl">
    {% if not profile.image %}
    <img
      class="h-40 w-40 rounded-l-xl object-cover"
      src="{% static 'imgs/anon.png' %}"
      alt="welcome image"
    />
    {% else %}
    <img
      class="h-40 w-40 rounded-l-xl object-cover"
      src="{{profile.image.url}}"
      alt="welcome image"
    />
    {% endif %}
    <div
      class="bg-red-200 flex flex-col text justify-between px-4 py-2 rounded-r-xl"
    >
      <p>
        Firstname:
        <span class="font-bold text-black">{{profile.first_name|title}}</span>
      </p>
      <p>
        Lastname :
        <span class="font-bold text-black">{{profile.last_name|title}}</span>
      </p>
      <p>
        Email :
        <span class="font-bold text-black">{{profile.email}}</span>
      </p>
      <p>
        Role :
        <span class="font-bold text-black">{{profile.role|title}}</span>
      </p>
      <p>
        Sector :
        <span class="font-bold text-black">{{profile.sector|title}}</span>
      </p>
    </div>
  </div>

  {% if form %}
  <form
    class="p-4 w-full bg-gray-100 rounded-lg text-sm grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4"
    method="POST"
    action=""
    enctype="multipart/form-data"
  >
    {% csrf_token %} {% for field in form %}
    <div>
      <h3 class="mb-1">{{field.label}}</h3>
      {{field}}
    </div>
    {% endfor %}
    <div class="flex gap-8 items-end">
      <input
        class="mt-4 px-4 py-4 bg-blue-950 hover:bg-blue-800 text-white rounded-md cursor-pointer"
        type="submit"
        value="Save"
      />
      <a
        class="bg-white p-4 rounded-md hover:bg-red-400 hover:text-white"
        href="{{request.META.HTTP_REFERER}}"
      >
        Cancel
      </a>
    </div>
  </form>
  {% endif %}
</div>
{% endblock %}
