{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
  </head>
  <body class="p-40 bg-white h-screen w-full">
    <div class="mx-auto flex flex-row items-center justify-center h-80">
      <img
        class="h-full"
        src="{% static 'imgs/signup.png' %}"
        alt="welcome image"
      />
      <div class="flex flex-col w-100">
        <h1 class="mb-4 text-black text-3xl font-bold">Inscription</h1>
        <form
          class="p-4 w-full bg-gray-100 rounded-lg text-sm"
          method="POST"
          action=""
          enctype="multipart/form-data"
        >
          {% csrf_token %} {% for field in form %}
          <div>
            <h3 class="mb-1">{{field.label}}</h3>
            {{field}}
          </div>
          {% endfor %}

          <input
            class="mt-4 px-4 py-2 bg-black hover:bg-amber-500 text-white rounded-md cursor-pointer"
            type="submit"
            value="Inscription"
          />
        </form>

        <p class="login-wrapper-footer-text mt-4">
          Vous avez deja un compte?
          <a href="{% url 'login' %}" class="text-amber-500"
            >connectez-vous ici</a
          >
        </p>
      </div>
    </div>
  </body>
</html>
