{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Comfortaa"
    />
    <style>
      body {
        font-family: "Comfortaa", serif;
        /* font-size: 48px; */
      }
    </style>
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"
      integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js" defer="true"></script>
    <script
      src="https://kit.fontawesome.com/f601cf3e61.js"
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'scripts.js' %}" defer="true"></script>
    <link href="{% static 'styles.css' %}" rel="stylesheet" />
    <title>leparle</title>
  </head>
  <body class="flex flex-col bg-white text-gray-500 max-w-full mx-auto">
    {% if user.is_authenticated %}
    <input id="curr_user" type="hidden" value="{{user.id}}" />
    {% endif %}
    <!--  -->
    {% include 'navbar.html' %}
    <!--  -->
    <button
      onclick="toTop()"
      id="toTopBtn"
      title="Go to top"
      class="hidden px-4 py-2 rounded-md hover:shadow-md hover:bg-red-400 right-6 bottom-24 fixed group"
    >
      <i
        class="fa-solid fa-arrow-up text-xl text-blue-950 group-hover:text-white"
      ></i>
    </button>
    {% block content %} {% endblock %}
    <hr class="mt-20 mx-auto w-full max-w-[1380px]" />
    {% include 'footer.html' %}
  </body>

  <script>
    const to_top_btn = $("#toTopBtn");
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () {
      if (
        document.body.scrollTop > 30 ||
        document.documentElement.scrollTop > 30
      ) {
        to_top_btn.removeClass("hidden");
        to_top_btn.addClass("block");
      } else {
        to_top_btn.removeClass("block");
        to_top_btn.addClass("hidden");
      }
    };

    // When the user clicks on the button, scroll to the top of the document
    function toTop() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }
  </script>
</html>
