{% extends 'main.html' %} {% load static %} {% block content %}
<div class="px-8 max-w-[1350px] mx-auto">
  <!--------------------------------------- hero section --------------------------------------->

  <!-- {% include 'secbar.html' %} -->

  <!--------------------------------------- mini navbar --------------------------------------->

  <nav
    class="mx-auto py-2 flex gap-2 items-center text-xs w-full max-w-[1350px]"
  >
    <a
      class="p-2 hover:bg-gray-100 hover:text-blue-950 rounded-full transition ease-in duration-200"
      href="{% url 'home' %}"
      ><i class="fa-solid fa-house"></i>
    </a>
    /
    <a
      class="hover:text-blue-950 hover:underline transition ease-in duration-200"
      href="{% url 'courses' %}"
      >Courses</a
    >
  </nav>

  <!--------------------------------------- hero section --------------------------------------->

  <div
    class="mb-4 p-10 mx-auto bg-red-400 grid grid-cols-1 md:grid-cols-2 gap-x-20 w-full max-w-[1350px] rounded-md"
  >
    <article
      class="flex flex-col text-left justify-between items-start text-left"
    >
      <h4 class="mb-2 text-3xl text-white font-bold">
        We're here to help you speak better.
      </h4>
      <p class="text-gray-100">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error suscipit
        deserunt, consequuntur beatae quae et atque nostrum nulla architecto
        quia quo ipsum odio provident molestias repellat ea quam quidem ipsa
        fuga natus neque, nihil ducimus pariatur vitae.
      </p>
      <div class="flex gap-4">
        <a
          href="#courses"
          class="my-4 px-8 py-2 rounded-full flex justify-between items-center bg-white text-blue-950 w-[200px] group"
          >Explore<i
            class="hidden fa-solid fa-arrow-down group-hover:inline"
          ></i
        ></a>
        <a
          href="{% url 'dashboard' %}#courseform"
          class="my-4 px-8 py-2 rounded-full flex justify-between items-center bg-blue-950 text-white w-[200px] group"
          >New course
          <i class="hidden fa-solid fa-plus group-hover:inline"></i>
        </a>
      </div>
    </article>
    <div>
      <img
        class="w-full h-80 rounded-md object-cover"
        src="{% static 'imgs/talking.jpg' %}"
        alt="welcome image"
      />
    </div>
  </div>

  <!--------------------------------------- courses --------------------------------------->
  <section id="courses" class="py-20 bg-white w-full text-left">
    <div class="max-w-[1350px] mx-auto">
      <div class="mb-4 flex justify-between items-center">
        <h3 class="text-gray-700 lg:text-2xl font-bold">For you</h3>
        <form
          id="search_box"
          class="w-100 border border-2 border-blue-950 rounded-full flex flex-row max-w-xl justify-between items-fill"
        >
          <input
            type="text"
            name="query"
            id="querier"
            required
            class="px-6 py-3 rounded-l-full bg-white text-black w-full h-full"
            placeholder="Find courses..."
          />
          <button
            class="group px-8 py-2 text-sm bg-blue-950 hover:bg-red-500 text-white rounded-r-full"
            type="submit"
          >
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </form>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        {% for item in courses %}
        <a href="{% url 'course' item.id  %}">
          <div
            class="flex flex-col bg-blue-950 hover:shadow-md rounded-md group"
          >
            {% if item.video %}
            <video
              class="h-[300px] rounded-t-md object-contain"
              poster="{% static 'imgs/leparle-gris-lng.png' %}"
              preload="metadata"
            >
              <source src="{{item.video.url}}" type="video/mp4" />
            </video>
            {% endif %}
            <div class="p-4 flex flex-col justify-between">
              <h4 class="text-white text-xl font-bold">
                {{item.title|truncatechars:20}}
              </h4>
              <p class="py-2 text-gray-300 text-md">
                {{item.subtitle|truncatechars:35}}
              </p>
            </div>
          </div> </a
        >{% endfor %}
      </div>
    </div>
  </section>
</div>

{% endblock %}
