{% extends 'main.html' %} {% load static %} {% block content %}
<div class="px-8 w-full max-w-[1350px] mx-auto">
  <!--------------------------------------- mini navbar --------------------------------------->

  <nav
    class="mx-auto py-2 flex gap-2 items-center text-xs w-full max-w-[1350px]"
  >
    <a
      class="p-2 hover:bg-gray-100 hover:text-indigo-700 rounded-full transition ease-in duration-200"
      href="{% url 'home' %}"
      ><i class="fa-solid fa-house"></i>
    </a>
    /
    <a
      class="hover:text-indigo-700 hover:underline transition ease-in duration-200"
      href="{% url 'sectors' %}"
      >Sectors</a
    >
    /
    <a
      class="hover:text-indigo-700 hover:underline transition ease-in duration-200"
      href="{% url 'sectors' %}"
      >{{curr_sector.name}}</a
    >
  </nav>

  <!--------------------------------------- hero section --------------------------------------->

  <div
    class="mb-4 p-10 mx-auto bg-gray-100 grid grid-cols-1 md:grid-cols-2 gap-x-20 w-full max-w-[1350px] rounded-md"
  >
    <article
      class="flex flex-col text-left justify-between items-start text-left"
    >
      <h4 class="mb-2 text-3xl text-black font-bold">{{curr_sector.name}}</h4>
      <p class="text-gray-600">{{curr_sector.description}}</p>

      <a
        href="#sectors"
        class="mt-4 px-8 py-2 rounded-full flex justify-between items-center bg-white w-2/6 group"
        >Explore<i class="hidden fa-solid fa-arrow-down group-hover:inline"></i
      ></a>
    </article>
    <div>
      {% if curr_sector.image %}
      <img
        class="w-full h-80 rounded-md object-cover"
        src="{{curr_sector.image.url}}"
        alt="welcome image"
      />
      {% else %}
      <img
        class="w-full h-80 rounded-md object-cover"
        src="{% static 'imgs/studies.jpg' %}"
        alt="welcome image"
      />
      {% endif %}
    </div>
  </div>

  <!--------------------------------------- related sectors --------------------------------------->
  <section id="sectors" class="py-10 bg-white w-full text-left">
    <div class="max-w-[1350px] mx-auto">
      <h3 class="mb-2 mx-auto text-gray-700 text-2xl font-bold">
        Related Courses
      </h3>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        {% for item in rel_courses %}
        <a href="{% url 'course' item.id  %}">
          <div
            class="flex flex-col bg-blue-950 hover:shadow-md rounded-md group"
          >
            {% if item.video %}
            <video
              class="h-[300px] rounded-t-md object-contain"
              poster="{% static 'imgs/leparle-grey-lng.png' %}"
              preload="metadata"
            >
              <source src="{{item.video.url}}" type="video/mp4" />
            </video>
            {% endif %}
            <div class="p-4 flex flex-col justify-between">
              <h4 class="text-white text-xl font-bold">
                {{item.title|truncatechars:20}}
              </h4>
              <p class="py-2 text-gray-300 text-md">
                {{item.subtitle|truncatechars:35}}
              </p>
            </div>
          </div> </a
        >{% endfor %}
      </div>
    </div>
  </section>
</div>
{% endblock %}
